[user]
	name = Andras Svraka
	email = svraka.andras@gmail.com
[credential]
	helper = wincred
[core]
	excludesfile = C:\\Users\\SvrakaA\\.gitignore_global
	autocrlf = input
	editor = 'D:\\Apps\\SublimeText\\subl.exe' -w
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
