# Ignore templates
config/colordiff/colordiffrc
gnupg/gpg-agent.conf
ssh/config

# Tempfiles and various non-tracked stuff
config/.op
config/htop
config/mc
config/parallel/tmp
config/procps
config/scoop

# Downloaded separately
config/mintty/emojis

# Use the standard location for package manager installed programs (like `pip
# install --user`). My scripts are in `local/bin_custom`.
local/bin
