# Connects gpg-agent to the OSX keychain via the brew-installed
# pinentry program from GPGtools. This is the OSX 'magic sauce',
# allowing the gpg key's passphrase to be stored in the login
# keychain, enabling automatic key signing.
# pinentry-program PINENTRY_PROGRAM

# Cache passphrase for 30 days. It is only really needed on Windows
# (on Mac passphrase is in the Keychain) but shouldn't hurt anywhere
# else.
default-cache-ttl 2592000
max-cache-ttl 2592000
